
html {
	background: #333;
}

body {
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 18px;
}

#navContent, #aboutContent, #contactContent {
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}

.articleContent {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 850px) {
	.articleContent {
	width: 90%;
}
}

.spacer {
	float: left;
	margin: 2%;
}

/* --------------- Header Styles ---------------- */

nav {
	background: rgba(35,35,35,.95);
	position: fixed;
	width: 100%;
	z-index: 10;
	transition: background .3s;
}

nav.scroll {
	background: rgba(35,35,35,.2);
}

#navContent .logo {
	display: inline-block;
	margin: 20px 30px;
	width: 5%;
	min-width: 20px;
	transition: width .3s;
}

#navContent .logo.scroll {
	width: 3%;
}

#navContent ul {
	float: right;
	margin-top: 40px;
	transition: margin-top .3s;
}

#navContent ul.scroll {
	margin-top: 28px;
}

@media (max-width: 1100px) {
	#navContent ul {
		margin-right: 30px;
	}
}

#navContent ul li {
	display: inline-block;
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

#navContent ul a {
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	margin-left: 4vw;	
}

@media (max-width: 870px) {
	#navContent .logo {
		margin: 10px 20px;
	}

	#navContent ul {
		margin-top: 20px;
	}

	#navContent ul a {
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	#navContent .logo {
		margin: 5px 10px;
	}

	#navContent ul {
		margin-top: 5px;
	}

	#navContent ul a {
		font-size: 12px;
	}
}

#navList a.active {
	color: #DDD031;
}

#navContent li:hover {
	transform: scale(1.1);
}

/* ----------------- Hero Styles ------------------ */

#filler {
	height: 60px;
	background: #000;
}

@media (max-width: 870px) {
	#filler {
		height: 30px;
	}
}

#gif {
	background: #292929;
}

#gif img {
	width: 100%;
}

#arrow {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -250%);
}

#arrow:hover img {
	transform: scale(1.2);
}

#arrow img {
	width: 3vw;
	display: block;
	margin:0 auto;
	opacity: 0;
	transition: transform .5s;
}

/* ---------------- About Me Styles ---------------- */

#about {
	width: 100%;
	margin-top: -2px;
	color: #fff;
}

#aboutBG {
	background: #292929;
	padding-top: 150px;
	padding-bottom: 180px;
}

#about h2 {
	text-align: center;
	font-weight: 300;
	font-size: 46px;
	margin-bottom: 80px;
}

#about p {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 180px;
	text-align: center;
	line-height: 25px;
}

#aboutContent p:nth-child(2) {
	margin-bottom: 40px;
}

#about p a {
	text-decoration: none;
	color: #DDD031;
}

@media (max-width: 870px) {
	#aboutBG {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	#about h2 {
		font-size: 24px;
		margin-bottom: 30px;
	}

	#about p {
		font-size: 13px;
		margin-bottom: 50px;
		line-height: 20px;
	}
}

#icons {
	width: 90%;
	margin: 0 auto;
}

.hoverIcon {
	width: 32%;
	display: inline-block;
	position: relative;
}

.hoverIcon img {
	display: block;
	width: 70%;
	margin: 0 auto;
}

.hoverIcon img:first-child {
	position: absolute;
	transform: translate(21.4%, 0);
	opacity: 1;
	transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
}

.hoverIcon:hover img:first-child {
	opacity: 0;
}

.hoverIcon figcaption {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	line-height: 14px;
	color: #DDD031;
	margin-top: 25px;
}

@media (max-width: 870px) {
	.hoverIcon figcaption {
		font-size: 10px;
	}
}

#headshot {
	background: url("../images/headshot.jpg") center center fixed;
	background-size: cover;
}

#headshot img {
	width: 100%;
}

#mask {
	vertical-align: top;
	width: 100%;
}

/*----------------Portfolio Styles-----------------*/

#portfolio {
	background: #222;
	padding-top: 150px;
	padding-bottom: 100px;
	color: #fff;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}

#portfolio h2 {
	text-align: center;
	font-weight: 300;
	font-size: 46px;
	margin-bottom: 70px;
}

@media (max-width: 870px) {
	#portfolio {
		padding-top: 80px;
		padding-bottom: 0;
	}

	#portfolio h2 {
		font-size: 24px;
		margin-bottom: 30px;
	}
}

#portfolioGrid li {
	width: 33.33%;
	float: left;
	margin-bottom: 40px;
}

#portfolioGrid a {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

#portfolioGrid img {
	width: 100%;
	transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
}

#portfolioGrid a:hover img {
	transform: scale3d(1.05, 1.05, 1);
	-moz-transform: scale3d(1..05, 1..05, 1);
	-webkit-transform: scale3d(1..05, 1..05, 1);
	-o-transform: scale3d(1..05, 1..05, 1);
}

.projectInfo {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

.projectInfo h3 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #DDD031;
	margin-bottom: 10px;
}

.projectInfo h4 {
	color: #fff;
}

@media (max-width: 870px) {
	#portfolioGrid li {
		width: 50%;
	}

	.projectInfo h3 {
		font-size: 16px;
	}

	.projectInfo h4 {
		font-size: 14px;
	}
}

@media (max-width: 450px) {
	#portfolioGrid li {
		width: 100%;
		margin-bottom: 20px;
	}
}

#nwtnOverlay {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: all 1s;
}

#nwtnOverlay p {
	position: absolute;
	text-align: center;
	font-size: 24px;
	color: #FFF;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#portfolioGrid li:last-child a:hover #nwtnOverlay{
	opacity: .7;
}

/*--------------Contact Styles--------------------*/

#contact {
	vertical-align: top;
	background: #333;
	padding-top: 140px;
	padding-bottom: 150px;
	color: #fff;
}

#contactContent {
	text-align: center;
}

#contactContent h2 {
	font-weight: 300;
	font-size: 46px;
	margin-bottom: 40px;
}

@media (max-width: 870px) {
	#contact {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	#contact h2 {
		font-size: 24px;
		margin-bottom: 30px;
	}
}

#contactContent h5 {
	font-size: 20px;
	line-height: 25px;
	width: 45%;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 50px;
}

#contactContent h3 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #DDD031;
	margin-bottom: 15px;
}

#resume, #email {
	text-decoration: none;
	color: #FFF;
}

#contactContent p {
	margin-bottom: 30px;
}

#contactContent li {
	display: inline-block;
	margin: 10px 30px;
}

#contact li, #contact p {
	transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

#contact p:hover, #contact li:hover {
	transform: scale(1.1);
}

#contactContent i {
	font-size: 40px;
	color: #fff;
}


@media (max-width: 870px) {
	#contactContent h3 {
		font-size: 14px;
	}

	#contactContent h5 {
		font-size: 13px;
		line-height: 20px;
	}

	#contactContent p {
		font-size: 13px;
	}

	#contactContent li {
		margin: 10px 20px;
	}

	#contactContent i {
		font-size: 20px;
	}
}

/*-------------------- Footer Styles -------------------*/

footer {
	position: relative;
	bottom: 0;
}

footer img {
	vertical-align: top;
	width: 100%;
}

footer .logo {
	position: absolute;
	width: 10%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

/*--------------------- Case Study Styles ----------------*/

.headerImg {
	position: fixed;
	z-index: -1;
	width: 100%;
}

.headerImg img{
	width: 100%;
}

article {
	position: relative;
	width: 100%;
	background: #FFF;
	top: 780px;
	padding-top: 100px;
	padding-bottom: 50px;
}

@media (max-width: 1150px) {
	article {
		top: 620px;
	}
}

@media (max-width: 920px) {
	article {
		top: 460px;
	}
}

@media (max-width: 700px) {
	article {
		top: 330px;
	}
}

@media (max-width: 500px) {
	article {
		top: 220px;
	}
}

article h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	margin-bottom: 40px;
}

article h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 100px;
	margin-bottom: 50px;
	clear: both;
}

article h3 {
	font-size: 24px;
	color: #AAA;
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 60px;
}

@media (max-width: 510px) {
	article h3 {
		width: 40%;
		margin-right: 20px;
	}
}

article p {
	line-height: 30px;
	margin-bottom: 30px;
}

figcaption {
	line-height: 30px;
	margin-bottom: 40px;
}

/*--------------------- Yoghurt Shoppe Styles ---------------*/

#yoghurtShoppe h1, #yoghurtShoppe h2 {
	color: #82a19f;
}

#ysMockup2 img {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

#ysLogo {
	width: 100%;
	margin-bottom: 30px;
}

#ysLogo img {
	width: 100%;
}

.ysScreens {
	width: 100%;
}

.ysScreens img {
	width: 100%;
	box-shadow: 1px 1px 20px #666;
	margin-bottom: 150px;
}

/*--------------------- LocalGuide Styles --------------------*/

#localGuide h1, #localGuide h2 {
	color: #5698d2;
}

#persona {
	position: relative;
}

#persona h5 {
	font-size: 24px;
	font-weight: 400;
	color: #5698d2;
	margin-bottom: 20px;
}

#arianaPic {
	display: inline-block;
	width: 40%;
}

#arianaPic img {
	width: 100%;
}

#arianaText {
	float: right;
	margin-top: 10px;
	width: 55%;
}

@media (max-width: 780px) {
	#arianaPic {
		display: inline-block;
		width: 100%;
	}

	#arianaPic img {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

	#arianaText {
		float: left;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 100px;
	}
}

#arianaText ul {
	list-style-type: disc;
}

#arianaText li {
	margin-bottom: 15px;
	line-height: 24px;
}

#localGuideWireframes img {
	width: 100%;
}

#lgLogo img {
	width: 100%;
}

#lgFinal img {
	width: 100%;
	margin-bottom: 50px;
}

/*---------------------- Flint Styles -------------------------*/

#flint h1, #flint h2 {
	color: #ac0404;
}

#flintDiagram img {
	width: 100%;
	margin-bottom: 40px;
}

#flintTakeaways {
	list-style-type: disc;
}

#flintTakeaways li {
	margin-bottom: 15px;
	line-height: 24px;
}

#flintWireframes img {
	width: 100%;
	margin-bottom: 100px;
}

#flintTesting img {
	width: 100%;
}

#flintTiles img {
	float: left;
	width: 45%;
	box-shadow: 1px 1px 20px #666;
	margin: 20px 0 80px 1%;
}

#flintLogo img {
	width: 100%;
}

.mockups img {
	width: 100%;
	margin-bottom: 50px;
}

/*---------------------- Sprightly Styles ---------------------*/

#sprightly h1, #sprightly h2 {
	color: #6FCF78;
}

#marci img {
	width: 100%;
	box-shadow: 1px 1px 20px #666;
	margin-top: 20px;
	margin-bottom: 120px;
}

#marciMap img {
	width: 100%;
	margin-top: 20px;
	box-shadow: 1px 1px 20px #666;
}

#sprightlyFunctions {
	list-style-type: disc;
}

#sprightlyFunctions li {
	margin-bottom: 15px;
	line-height: 24px;
}

#sprightlyWireframes img {
	width: 100%;
	margin-top: 20px;
}

#sprightlyTiles img {
	float: left;
	width: 45%;
	box-shadow: 1px 1px 20px #666;
	margin: 20px 0 100px 1%;
}

.sprightlyMockup img {
	width: 100%;
	margin-bottom: 50px;
}

/*---------------------- SuFo Styles -------------------------*/

#sufo h1, #sufo h2 {
	color: #634465;
}

#sufo p {
	margin-bottom: 60px;
}

#sufo p a {
	text-decoration: none;
	color: #634465;
}

#sufoWireframes img {
	width: 100%;
	margin-bottom: 40px;
}

#sufoTiles img {
	width: 100%;
	margin-bottom: 40px;
}

#sufoInspiration img {
	width: 100%;
	margin-bottom: 50px;
}

#sufoDesktop img {
	width: 100%;
	margin-top: 30px;
}

.sufoMockups {
	margin-bottom: 100px;
}

.sufoMockups img:first-child {
	width: 48%;
	float: left;
	box-shadow: 1px 1px 20px #666;
}

.sufoMockups img:nth-child(2) {
	width: 48%;
	float: right;
	box-shadow: 1px 1px 20px #666;
}

#sufoTablets img {
	width: 100%;
}

#sufoPhones img {
	width: 100%;
}

#sufoGuide img {
	width: 100%;
	box-shadow: 1px 1px 20px #666;
	margin-bottom: 100px;
}

/*---------------------- Portfolio Nav Styles -----------------*/

#portfolioNav {
	position: relative;
	top: 780px;
	background: #444;
	padding: 40px;
}

#portfolioNav h3 {
	text-align: center;
	color: #FFF;
	font-size: 28px;
	margin-bottom: 40px;
}

@media (max-width: 1150px) {
	#portfolioNav {
		top: 620px;
	}
}

@media (max-width: 920px) {
	#portfolioNav {
		top: 460px;
	}
}

@media (max-width: 700px) {
	#portfolioNav {
		top: 330px;
	}
}

@media (max-width: 500px) {
	#portfolioNav {
		top: 220px;
	}
}

#portfolioNav li {
	position: relative;
	display: inline-block;
	width: 16.6%;
}

#portfolioNav li img {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
}

#portfolioNav h4 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
}

@media (max-width: 870px) {
	#portfolioNav li {
	margin-bottom: 50px;
	width: 32%;
	}

	#portfolioNav li img {
	margin-bottom: 10px;
}
}



